---
import Head from "@/components/Head.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout>
  <Head title="Impressum" />
  <main class="relative bg-white ~py-20/40">
    <div class="prose container mx-auto max-w-prose">
      <h1>Impressum</h1>
      <p>Angaben gemäß § 5 TMG:</p>
      <p>
        <strong>[Ihr Unternehmen]</strong><br />
        [Ihre Adresse]<br />
        [PLZ Ort]
      </p>

      <h2>Vertreten durch:</h2>
      <p>[Name des Vertretungsberechtigten]</p>

      <h2>Kontakt:</h2>
      <p>
        Telefon: [Ihre Telefonnummer]<br />
        E-Mail: <a href="mailto:[Ihre E-Mail-Adresse]">[Ihre E-Mail-Adresse]</a>
      </p>

      <h2>Registereintrag:</h2>
      <p>
        Eintragung im Handelsregister.<br />
        Registergericht: [Name des Registergerichts]<br />
        Registernummer: [Ihre Registernummer]
      </p>

      <h2>Umsatzsteuer-ID:</h2>
      <p>
        Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz: [Ihre Umsatzsteuer-ID]
      </p>

      <h2>Haftungsausschluss:</h2>
      <p>
        Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit,
        Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als
        Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den
        allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter
        jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen
        oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
      </p>

      <h2>Haftung für Links:</h2>
      <p>
        Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen
        Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen.
        Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der
        Seiten verantwortlich.
      </p>

      <p>Stand: [Aktuelles Datum]</p>
    </div>
  </main>
</Layout>
