---
import Layout from "@/layouts/Layout.astro"
import { text, Text } from "@/design-system/components/Text"
import Head from "@/components/Head.astro"
import { TextHighlight } from "@/design-system/components/TextHighlight"
import { button } from "@/design-system/components/Button"
import { Image } from "astro:assets"
import windWheelsOnGras from "@/assets/images/wind-wheels-on-gras.jpg"
import invoiceExample from "@/assets/images/invoice-example.jpg"
import calculator from "@/assets/images/calculator.jpg"

import LinesSvg from "@/components/illustrations/LinesIllustration.astro"
import HappyFox from "@/components/illustrations/HappyFoxIllustration.astro"
import TransparentIllustration from "@/components/illustrations/TransparentIllustration.astro"
import MoralIllustration from "@/components/illustrations/MoralIllustration.astro"
import ConvincingIllustration from "@/components/illustrations/ConvincingIllustration.astro"
import { Link } from "@/design-system/components/Link"
import Testimonials from "@/domains/home/Testimonials.astro"
import BowTop from "@/components/illustrations/BowTop.astro"
import { InvoiceUploadForm } from "@/domains/home/invoice-upload/InvoiceUploadForm"

export const prerender = false
---

<Layout title="Welcome to Astro.">
  <Head title="Bis zu 50% Energiekosten sparen. Keine Nachteile." />
  <main class="relative bg-primary-50">
    <section
      class="relative z-10 flex min-h-screen flex-col items-center justify-center overflow-hidden"
      id="start"
    >
      <div class="container relative mx-auto grid grid-cols-1 items-center ~mt-20/52">
        <div class="mx-auto flex flex-col items-start ~gap-8/16 ~px-4/12">
          <Text as="h1" ty="hero" className="relative mx-auto max-w-prose hyphens-auto text-center">
            Bis zu 50% Energiekosten sparen. <br />
            <TextHighlight>Ganz ohne Haken.</TextHighlight>
          </Text>
          <Text className="mx-auto max-w-prose text-center" ty="subtitle">
            3 von 4 Haushalten zahlen bei ihrem Grundversorger zu viel für ihre Energie. Wir zeigen
            dir den Weg aus der Kostenfalle.
          </Text>
        </div>
      </div>
      <div class="align-center relative mx-auto flex w-full justify-center ~py-16/32">
        <a class={button({ size: "lg", class: "relative z-10 mx-auto" })} href="#so-funkionierts">
          Starte jetzt deine Ersparnis
        </a>

        <LinesSvg
          class="absolute left-1/2 top-1/2 w-[300vw] -translate-x-1/2 -translate-y-1/2 lg:w-[120vw]"
        />
      </div>
    </section>
    <section id="so-funkionierts" class="~py-16/32">
      <div class="container mx-auto ~px-4/8">
        <Text as="h2" ty="hero" className="relative mx-auto max-w-prose hyphens-auto text-center">
          So funktioniert's
        </Text>
        <Text
          ty="subtitle"
          className="relative mx-auto max-w-prose hyphens-auto text-center ~mt-4/8"
          >In drei einfachen Schritten zu deinem optimalen Energietarif.
        </Text>
        <div class="grid grid-cols-1 ~mt-20/40 ~gap-y-12/40 lg:grid-cols-2">
          <div class="max-w-prose border-l border-primary-600 ~py-2/4 ~pl-4/8">
            <p class="text-primary-600 ~text-5xl/7xl">01.</p>
            <h2 class="leading-[1] ~text-3xl/5xl">Teile deine Energierechnung mit uns</h2>
            <Text className="~mt-4/8" ty="subtitle">
              Deine Energierechnungen erhältst du in der Regel per Post oder im Online-Kundenportal
              deines Versorgers. Viele Anbieter stellen diese Informationen digital bereit, wie z.B.
              die
              <Link href="https://www.n-ergie.de/privatkunden" target="_blank" external
                >N-ERGIE</Link
              >.
            </Text>
            <a class={button({ size: "lg", class: "~mt-4/8 " })} href="#rechnung-hochladen">
              Rechnung jetzt hochladen
            </a>
          </div>
          <div class="~p-4/8">
            <div class="overflow-hidden rounded-lg bg-primary/30 ~px-8/20 ~pt-8/20">
              <div class="overflow-hidden">
                <Image
                  src={invoiceExample}
                  class="h-full w-full object-cover"
                  alt="Beispiel einer Energierechnung"
                />
              </div>
            </div>
          </div>
          <div class="hidden ~p-8/16 lg:block">
            <div class="overflow-hidden rounded-lg bg-primary/30">
              <Image
                src={calculator}
                class="h-full w-full object-cover"
                alt="Taschenrechner symbolisiert Kostenanalyse"
              />
            </div>
          </div>

          <div class="max-w-prose border-l border-primary-600 ~py-2/4 ~pl-4/8">
            <p class="text-primary-600 ~text-5xl/7xl">02.</p>
            <h2 class="leading-[1] ~text-3xl/5xl">
              Wir analysieren dein Sparpotential - <TextHighlight>kostenfrei!</TextHighlight>
            </h2>
            <Text className="~mt-4/8" ty="subtitle"
              >Für 75% der Anfragen finden wir einen günstigeren Tarif. Kein Sorge, nach der Analyse
              werden deine Daten sofort gelöscht.
            </Text>

            <div class="~mt-2/4">
              <Link className={text({ ty: "subtitle" })} target="_blank" href="/datenschutz"
                >Mehr zum Datenschutz</Link
              >
            </div>
          </div>

          <div class="max-w-prose border-l border-primary-600 ~py-2/4 ~pl-4/8">
            <p class="text-primary-600 ~text-5xl/7xl">03.</p>
            <h2 class="leading-[1] ~text-3xl/5xl">Du erhältst ein unverbindliches Angebot</h2>
            <Text className="~mt-4/8" ty="subtitle">
              Sparst du bereits optimal? Dann sagen wir dir das auch. Im schlimmsten Fall bekommst
              du also einen Schulterklopfer von uns.
            </Text>
            <a class={button({ size: "lg", class: "~mt-4/8" })} href="#rechnung-hochladen">
              Jetzt Sparangebot erhalten
            </a>
          </div>
          <div class="hidden ~p-8/16 lg:block">
            <div class="overflow-hidden rounded-lg bg-primary/30">
              <Image
                src={windWheelsOnGras}
                class="h-full w-full object-cover"
                alt="Windräder symbolisieren nachhaltige Energie"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="~py-20/40">
      <div class="container mx-auto ~px-4/8">
        <div
          class="grid grid-cols-1 items-center justify-center text-center ~gap-10/20 lg:grid-cols-2 lg:text-start"
        >
          <div>
            <h3 class="max-w-prose hyphens-auto font-bold leading-[1.2]">
              <span class="~text-4xl/6xl">Schließe dich </span>
              <span class="whitespace-nowrap text-primary-500 ~text-4xl/6xl"> 2 Millionen </span>
              <span class="~text-4xl/6xl"> glücklichen Sparfüchsen an.</span>
            </h3>
          </div>

          <div>
            <HappyFox class="mx-auto w-[500px] max-w-[60vw]" />
          </div>
        </div>
      </div>
    </section>
    <section class="~py-20/40">
      <div class="container mx-auto ~px-4/8">
        <Text as="h2" ty="hero" className="relative mx-auto max-w-prose hyphens-auto text-center">
          Unsere Prinzipien
        </Text>
        <Text
          ty="subtitle"
          className="relative mx-auto max-w-prose hyphens-auto text-center ~mt-4/8"
          >Aufrichtige Beratung <TextHighlight tilt="sm">ohne versteckte Agenda</TextHighlight>. Das
          Fundament unseres Erfolgs.
        </Text>

        <div class="grid grid-cols-1 gap-20 ~my-20/32 lg:grid-cols-3">
          <div class="flex flex-col items-center text-center lg:items-start lg:text-start">
            <TransparentIllustration class="w-[100px]" />
            <h3 class="leading-[1] ~text-3xl/5xl ~mt-4/8">Transparent.</h3>

            <div class="mt-4 w-1/3 border-b border-primary-600"></div>

            <Text ty="subtitle" className="max-w-prose ~mt-4/8">
              Wir beantworten all deine Fragen - offen und ehrlich. Unser Ziel ist es, dass du am
              Ende ein sicheres Gefühl hast.
            </Text>
          </div>

          <div class="flex flex-col items-center text-center lg:items-start lg:text-start">
            <MoralIllustration class="w-[100px] lg:mt-20" />
            <h3 class="leading-[1] ~text-3xl/5xl ~mt-4/8">Integer.</h3>

            <div class="mt-4 w-1/3 border-b border-primary-600"></div>

            <Text ty="subtitle" className="max-w-prose ~mt-4/8"
              >Dein Vertrauen ist uns wichtig. Wir machen dir nur ein Angebot, wenn es sich für dich
              wirklich lohnt.
            </Text>
          </div>

          <div class="flex flex-col items-center text-center lg:items-start lg:text-start">
            <ConvincingIllustration class="w-[100px] lg:mt-40" />
            <h3 class="leading-[1] ~text-3xl/5xl ~mt-4/8">Überzeugend.</h3>
            <div class="mt-4 w-1/3 border-b border-primary-600"></div>
            <Text ty="subtitle" className="max-w-prose ~mt-4/8"
              >Mit Fakten, Zahlen und positiven Bewertungen sprechen unsere Leistungen für sich
              selbst.</Text
            >
          </div>
        </div>
      </div>
      <div class="align-center relative mx-auto flex w-full justify-center">
        <a class={button({ size: "lg", class: "relative z-10 mx-auto" })} href="#so-funkionierts">
          Jetzt Energiekosten sparen
        </a>
      </div>
    </section>
    <Testimonials />
    <section class="relative bg-white ~py-20/40" id="rechnung-hochladen">
      <div class="absolute top-[4px] w-full -translate-y-full">
        <BowTop class="fill-white" />
      </div>

      <Text
        as="h2"
        ty="hero"
        className="relative mx-auto max-w-prose hyphens-auto text-center ~px-4/8"
      >
        Bereit zu sparen?
      </Text>
      <Text
        ty="subtitle"
        className="relative mx-auto max-w-prose hyphens-auto text-center ~mt-4/8 ~px-4/8"
        >Super! Lade einfach deine aktuelleste Energierechnung hoch. Wir melden uns innerhalb von 24
        Stunden bei dir.
      </Text>
      <div class="mt-12 ~px-4/8">
        <InvoiceUploadForm client:load />
      </div>
    </section>
  </main>
</Layout>
