---
import { Link } from "@/design-system/components/Link"
import { text } from "@/design-system/components/Text"
---

<footer
  class={text({ ty: "caption", className: "px-4 py-4 text-neutral-600 border-t bg-neutral-100" })}
>
  <div class="container mx-auto flex ~gap-4/8">
    <Link variant="plain" href="/impressum">Impressum</Link>

    <Link variant="plain" href="/datenschutz">Datenschutz</Link>
    <Link variant="plain" href="/agb">AGB</Link>
  </div>
</footer>
