---
import Footer from "@/components/Footer.astro"
import BaseLayout from "./BaseLayout.astro"
---

<BaseLayout>
  <slot name="head" />
  <body>
    <slot />
    <Footer />
  </body>
</BaseLayout>
<style>
  body {
    /* Workaround: Somehow adding class or id  on body element will get removed when opening it in the browser*/
    @apply flex min-h-screen flex-col;
  }
</style>
